html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

button {
    outline: none;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
}

.card {
    width: 230px;
    height: 370px;
}

.container {
    position: absolute;
    top: 250px;
    left: 170px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.library {
    position: absolute;
    top: 230px;
    left: 600px;
}

.library label {
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.library input[type='file'] {
    width: 300px;
    height: 50px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.library button {
    width: 300px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
}

.library span {
    color: #5379fa !important
}

.welcome {
    position: absolute;
    top: 100px;
    left: 50px;
    z-index: 2;
}

.our-team {
    position: absolute;
    top: 150px;
    left: 650px;
    z-index: 2;
}

.list-title {
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 2;
}

.list-container {
    position: absolute;
    top: 230px;
    left: 100px;
    width: 80%;
}

.user-element {
    border: 3px solid #5379fa !important;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(62, 62, 68);
    font-size: 2rem;
    font-family: 'Exo', sans-serif;
    color: rgb(204, 188, 188);
    padding: 10px;
    background-color: #95969b !important;
    margin-bottom: 20px;
}

.user-element button {
    float: right;
}

.user-element span {
    color: #3b58b6 !important;
    font-weight: bold;
    margin-right: 15px;
}

.welcome div {
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 2rem;
    font-weight: 200;
}

.list-title div {
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 4rem;
    font-weight: 300;
}

.our-team div {
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 3rem;
    font-weight: 300;
}

.welcome div span,
.our-team span,
.list-title span {
    color: #5379fa !important;
}

header {
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/264635/pexels-photo-264635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 50% 50%;
    background-size: cover;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.content span {
    font-style: italic;
    font-weight: bold;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: rgb(250, 250, 255);
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
}

nav.top {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav.top ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav.top ul li {
    display: inline-block;
    padding: 16px 40px;
    ;
}

nav.top ul li a {
    text-decoration: none;
    color: rgb(209, 209, 214);
    font-size: 24px;
}

nav.top ul li button {
    border: none;
    background-color: transparent;
    color: rgb(209, 209, 214);
    font-size: 24px;
}

nav.top ul li button:hover {
    cursor: pointer;
    color: #4061ca !important;
    text-decoration: underline;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }
    nav.top ul {
        max-height: 0px;
        background: #000;
    }
    nav.black ul {
        background: #000;
    }
    .showing {
        max-height: 34em;
    }
    nav.top ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
}