<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
    <script src="js/prefixfree.min.js"></script>

</head>

<body>

    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Change<span>Password</span></div>
    </div>

    <br>
    <div class="login">
        <form action="/change-password" method="POST">
            <input type="text" placeholder="username" name="user"><br>
            <input type="password" placeholder="old password" name="password"><br>
            <input type="password" placeholder="new password" name="passwordNew"><br>
            <input type="password" placeholder="confirm new password" name="passwordConfirm"><br>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">

            <button class="btn1" type="submit">Change password</button>
        </form>
    </div>

    <div class="login1">
        <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <button class='btn' type="submit">Logout</button>
        </form>
    </div>



</body>

</html>